* {
    margin: 0;
    padding: 0;
}

.container {
    width: 850px;
    margin: auto;
}

.flex {
    display: flex;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.banner {
    background-color: #2F1893;
    height: 450px;
    padding: 100px 200px;
    margin-bottom: 68px;
    color: white;
}


h1 {
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 20px;

}
.bold {
    margin-bottom: 12px;
    margin-top: 12px;
}

h3 {
    line-height: 10px;
    font-size: 22px;
}


.banner-in-m-b {
    margin-bottom: 157px;
}

.profile {
    align-items: center;
    justify-items: center;
    gap: 23px;
    margin-bottom: 96px;
}
li {
    list-style-type: none
}

.gap-15 {
    gap: 15px;
}

/* branding section css  */
.branding {
    margin-bottom: 61px;
}

p {
    font-size: 16px;
    color: #15143966;
    margin-bottom: 40px;
}
.m-b-15 {
    margin-bottom: 15px;
}


h4 {
    
    font-size: 14px;
    margin-bottom: 34px;
}

.ul {
    gap: 10px;
    align-items: center;
    
}

.circle-img {
    width: 10px;
    height: 10px;
}

b {
    font-weight: 50px;
    margin: 20px 0px;
    font-size: 14px;
}
.m-b-25 {
    margin-bottom: 25px;
    padding-top: 5px;
}


/* second pages  */

.container2 {
    width: 1150px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.section1 {
    width: 700px;
}
.section2 {
    width: 350px;
}
.date {
   color: #15143966;
   font-size: 14px;
}
.image {
    width: 700px;
    height: 400px;
}
.s-img {
    width: 170px;
    height: 100px;
}
.m-l {
    margin-left: 90px;
}
.newsletter {
    height: 160px;
    padding: 30px;
   /* margin-top: 30px; */
}
.input {
    padding: 10px;
    border-radius: 20px;
}
button {
    margin-left: 10px;
    /* width: 80px; */
    background-color: #E4E3ED;
}
.span {
    font-size: 14px;
    color:#15143966;
    margin-bottom: 20px;
    
}
.m-t-15 {
    margin-top: 15px;
}